<h1>landing-page works! </h1>
<h1>Elco Business & Technologies</h1>
<p>je dois crée ma landing page ici</p>
<br>
<p>j'appelle le componet cette fois à traver typescript et non à travers la balise (a)
<br>en appuyant sur le bouton ci dessous
</p>
<br>
<br>
<button (click)="onContinue()">Continuer vers Snapface</button>
<div class="landing-block">
    <img src='assets/images/441526604_433908506167071_4865093239274106689_n (1).jpg' alt="photo de moi Elvis">
    <div class="landing-links">
      <a routerLink="facesnaps">Continuer vers Snapface</a>
    </div>
  </div>